<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento_head :: conteudo-header('Editar Unidade')}"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<title>Editar Unidade</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Editar Unidade</h1>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <form th:object="${unidade}" th:action="@{/atualizar_unidade/{idUnidade}(idUnidade=${unidade.id})}" method="post">
                <div class="mb-3">
                    <label for="numero" class="form-label">Número da Unidade</label>
                    <input type="text" class="form-control" id="numero" th:field="*{numero}" th:errorclass="is-invalid"/>
                    <div class="invalid-feedback" th:errors="*{numero}"></div>
                </div>

                <!-- Campo oculto para o ID do Condomínio (se necessário) -->
                <input type="hidden" th:field="*{condominio.id}" th:value="${condominioId}" />

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <a th:href="@{/{id}/unidade(id=${unidade.condominio.id})}" class="btn btn-secondary">Retornar para listagem de unidades</a>
        </div>
    </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
